@font-face {
    font-family: Ubuntu-Bold;
    font-family: Ubuntu-Medium;
    font-family: Ubuntu-Regular;
    src: url(../assets/fonts/Ubuntu-Bold.ttf), 
         url(../assets/fonts/Ubuntu-Medium.ttf), 
         url(../assets/fonts/Ubuntu-Regular.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(217, 233, 228);
}

#principal {
    width: 65vw;
    height: 75vh;
    background-color: white;
    position: absolute;
    border-radius: 20px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.menu-lateral {
    margin: 40px;
    margin-top: -15px;
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    height: 75vh;
    width: 15vw;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px 1px rgb(92, 90, 90);
}

.sumario {
    margin: 15px;
    padding-top: 40px;
}

.passo {
    color: lightgray;
    font-family: Ubuntu-Regular,sans-serif;
    margin-top: -38px;
    margin-left: 50px;
}

.tema {
    color: white;
    font-size: 25px;
    font-family: Ubuntu-Bold, sans-serif;
    margin-left: 50px;
}

.numero-do-passo {
    font-size: 25px;
    border: 1px solid white;
    border-radius: 360px;
    width: 30px;
}

#fundo1, #fundo2, #fundo3 {
    background-color: lightgreen;
    border-radius: 360px;
    margin-left: auto;
    width: 30px;
}

.numero-do-passo p {
    margin-left: 8px;
}

footer { 
    font-size: 20px; 
    text-align: center;
    background-color: lightgray;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}

footer a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

footer a:active {
    color: red;
}

#titulo {
    margin-left: 30%;
    margin-top: -50%;
    font-family: Ubuntu-Bold, sans-serif;
    font-size: 190%;
}

#subtitulo {
    margin-left: 30%;
    font-family: Ubuntu-Bold, sans-serif;
    margin-top: 1.5%;
    font-size: 20px;
    margin-bottom: 3%;
}

.dados {
    font-size: 25px;
}

label {
    margin-left: 30%;
    margin-bottom: -2%;
}

input{
    margin-bottom: 2%;
    margin-top: 5px;
    border-radius: 8px;
    font-size: 25px;
    border: 1px solid gray;
    margin-left: 30%;
    width: 45%;
    height: 50px;
    cursor: pointer;
}

#botao {
    margin-left: 80%;
    margin-top: 5%;
    width: 12%;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(58, 58, 218);
    color: white;
    font-family: Ubuntu-Normal, sans-serif;
    font-size: 19px;
    font-weight: bold;
}

#voltar {
    margin-left: 30%;
    margin-top: 10%;
    width: 12%;
    height: 60px;
    border: 0px;
    cursor: pointer;
    background-color: white;
    color: rgb(70, 140, 184);
    font-family: Ubuntu-Normal, sans-serif;
    font-size: 19px;
    font-weight: bold;
}

#continuar {
    margin-left: 35%;
    margin-top: 10%;
    width: 12%;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(58, 58, 218);
    color: white;
    font-family: Ubuntu-Normal, sans-serif;
    font-size: 19px;
    font-weight: bold;
}

#principalPasso2, #principalPasso3 {
    width: 65vw;
    height: 75vh;
    background-color: white;
    border-radius: 20px;
    margin-top: 4%;
}

#tituloPasso2, #tituloPasso3 {
    margin-left: 30%;
    margin-top: -50%;
    font-family: Ubuntu-Bold, sans-serif;
    font-size: 190%;
}

#subtituloPasso2, #subtituloPasso3 {
    margin-left: 30%;
    font-family: Ubuntu-Bold, sans-serif;
    margin-top: 1.5%;
    font-size: 20px;
    margin-bottom: 3%;
}

.menu-lateral2, .menu-lateral3 {
    margin: 40px;
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    height: 75vh;
    width: 15vw;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px 1px rgb(92, 90, 90);
}

.planos {
    display: inline-block;
    border: 1px solid lightgray;
    width: 200px;
    height: 200px;
    margin-left: 38%;
    margin-right: 0.3%;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    font-size: 22px;
    font-family: Ubuntu-Normal, sans-serif;
}

.planos:not(:first-of-type) {
    margin: auto;
}

.planos img {
    width: 60px;
    height: 60px;
    margin: 35px;
}

#periodo {
    display: flex;
    margin-left: 70.5%;
}

#mes, #ano {
    margin-left: -25%;
    margin-top: 5%;
    font-size: 23px;
}

#periodo input{
    width: 30px;
    border: 0px;
    margin-top: 2.5%;
    margin-left: -120px;
    font-size: 23px;
}

.opicionais1, .opicionais2, .opicionais3 {
    border: 1px solid lightgray;
    margin-left: 30%;
    width: 50%;
    height: 13%;
    display: flex;
    font-family: Ubuntu-Normal, sans-serif;
    border-radius: 10px;
}

#veri1, #veri2, #veri3 {
    width: 30px;
    height: 30px;
    margin-left: 5%;
    margin-top: 5%;
}

.checkmark, .checkmark2, .checkmark3 {
    margin: 5%;
    margin-left: -4.5%;
    height: 30px;
    width: 30px;
    background-color: rgb(0, 255, 0);
}

.opicionais1 input:checked ~ .checkmark{
    background-color: blue;
}

.opicionais1 .checkmark::after {
    content: "";
    display: none;
    margin: 5%;
    margin-left: 25%;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.opicionais1 input:checked ~ .checkmark::after {
    display: block;
}

.opicionais2 input:checked ~ .checkmark2 {
    background-color: blue;
}

.opicionais2 .checkmark2::after {
    content: "";
    display: none;
    margin: 5%;
    margin-left: 25%;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.opicionais2 input:checked ~ .checkmark2::after {
    display: block;
}

.opicionais3 input:checked ~ .checkmark3 {
    background-color: blue;
}

.opicionais3 .checkmark3::after {
    content: "";
    display: none;
    margin: 5%;
    margin-left: 25%;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.opicionais3 input:checked ~ .checkmark3::after {
    display: block;
}


#serv1 {
    font-size: 25px;
    margin: 4% 1%;
}

#serv2, #serv3 {
    font-size: 25px;
    margin: 4% 1%;
    width: 50%;
}

#descricaoServ1 {
    margin: 9% -24.5%;
    font-size: 18px;
}

#descricaoServ2, #descricaoServ3 {
    font-size: 18px;
    margin-top: 9%;
    margin-left: -51%;

}

#preco1 {
    margin-left: 47%;
    margin-top: 6%;
}

#preco2 {
    margin-left: 22%;
    margin-top: 6%;
}

#preco3 {
    margin-left: 24%;
    margin-top: 6%;
}

#voltar1 {
    margin-left: 30%;
    margin-top: 5.5%;
    width: 12%;
    height: 60px;
    border: 0px;
    cursor: pointer;
    background-color: white;
    color: rgb(70, 140, 184);
    font-family: Ubuntu-Normal, sans-serif;
    font-size: 19px;
    font-weight: bold;
}

#continuar1 {
    margin-left: 35%;
    width: 12%;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(58, 58, 218);
    color: white;
    font-family: Ubuntu-Normal, sans-serif;
    font-size: 19px;
    font-weight: bold;
}